:root {
  --body-text: "Playfair Display", serif;
  --heading-text: "Archivo Narrow", sans-serif;
}

body {
  background-color: grey;
  font-family: var(--heading-text);
}

.container {
  max-width:1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url("../images/charli-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
text-align: center;
padding: 260px;
}

header h1 {
font-weight: 700;
font-size: 128px;
line-height: 1.5;
letter-spacing: 0%;
margin-bottom: 0;
}

header h2 {
font-family: var(--body-text);
font-weight: 500;
font-size: 48px;
line-height: 1.5;
letter-spacing: 0%;
text-align: center;
margin-top: 12px;
}

header h2 .brat {
  font-family: var(--heading-text);
  font-weight: 700;
  color: #8ace00;
}

header h3 {
  font-family: var(--body-text);
  font-weight:900;
  font-size:18px;
  line-height: 1.5;
  letter-spacing: 4px;
}

header a {
  background-color: white;
  text-decoration: none;
  color: #272044;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
text-transform: uppercase;
padding: 16px 32px;
border-radius: 20px;
display: inline-block;
margin-top: 32px;
}

main {
  background-color: white;
}

.text-center {
  text-align: center;
}
section {
  margin: 0 auto;
  max-width: 100%;
  padding: 100px;
}

section.card-grid {
  background-color: rgb(255, 255, 255);
  padding: 48px;
}


section.card-grid h4.header {
color: rgb(37, 37, 37);
letter-spacing: 3px;
text-transform: uppercase;
font-family: var(--body-text);
font-size: 14px;
margin-bottom: 0;
}

section.card-grid h2 {
  color: #8ace00;
font-size: 40px;
font-weight: 700;
margin-top:12px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;

}

.card {
  background-color: rgb(42, 42, 42);
  color: white;
  font-family: var(--body-text);
  border-radius: 20px;
  font-size: 16px;
}

.card-body {
 padding: 0 24px 24px 24px;
 margin: 0;
}

.card h3 {
   font-weight: 700;
  font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
     color: #8ace00;
}
.card h4 {
  font-family: var(--heading-text);
  font-weight: 400;
  color: #8ace00;
  font-size: 18px;
    margin: 8px 0;
} 

.card p {
  margin-bottom: 12px;
  padding-bottom: 16px;
}

.btn {
   background-color: white;
  text-decoration: none;
  color: #272044;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  letter-spacing: 3px;
text-transform: uppercase;
padding: 12px 24px;
border-radius: 20px;
display: block;
margin: 0 auto;
}

.img-responsive {
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}
 .img-responsive.big {
  border-radius: 0;
 }

 section.songs {
background-color: rgb(42, 42, 42);
padding-top: 48px;
 } 

 .songs h4 {
  color: white;
    letter-spacing: 3px;
text-transform: uppercase;
font-family: var(--body-text);
font-size: 14px;
margin-bottom: 0;
 }

  .songs h2 {
color: #8ace00;
font-size: 40px;
font-weight: 700;
margin-top:12px;
 }

.grid-2-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  padding: 100px;
}

.grid-2-column h4 {
  margin:0px;
}
.grid-2-column h2 {
  font-size: 40px;
  margin: 0;
  line-height: 1;
}

.grid-2-column p {
  font-family: var(--body-text);
  margin: 12px 0;
}

.grid-3-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}


.embed {
  aspect-ratio: 4/4;
}

footer {
background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)),url("../images/charli-2.jpeg");
background-repeat: no-repeat;
background-size: cover;
font-family: var(--body-text);
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0%;
text-align: left;
display: grid;
grid-template-columns: 1fr 2fr 2fr;
max-width: 100%;
grid-gap: 32px;
padding: 100px;
}

footer h3 {
  font-size: 16px;
  font-family: var(--heading-text);
  margin-bottom: 0px;
}

footer ul {
  list-style: none;
  padding-left: 0;
 
}

footer ul, p {
   margin-top: 0;
}

footer a {
  color:#8ace00;
  font-weight: 600;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 40px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  footer {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }

  section {
    padding: 30px;
  }
}